<header>
	<nav class="green accent-4">
		<div class="nav-wrapper">
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<a href="#" class="brand-logo center">EZWallet</a>
			<ul class="left hide-on-med-and-down">
				<li class="green darken-2"><a href="/dashboard">Dashboard</a></li>
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/records">Records</a></li>
				<li><a href="/settings">Settings</a></li>
				<li><a><div id="button-google-signin" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div></a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
				<li><a href="/login">Log Out</a></li>
			</ul>
			<ul id="nav-mobile" class="side-nav">
				<li class="green darken-2"><a href="/dashboard">Dashboard</a></li>
				<li><a href="/records">Records</a></li>
				<li><a href="/settings">Settings</a></li>
				<li><a href="/login">Log Out</a></li>
				<li><a><div id="button-google-signin" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div></a></li>
			</ul>
		</div>
	</nav>
</header>
