<header>
	<nav class="green accent-4">
		<div class="nav-wrapper">
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			<a href="#" class="brand-logo center">EZWallet</a>
			<ul class="left hide-on-med-and-down hide-on-signout">
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/records">Records</a></li>
				<li><a href="/settings">Settings</a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
				<li><a id="nav-log" href="#">Log In</a></li>
			</ul>
			<ul id="nav-mobile" class="side-nav">
				<li class="hide-on-signout"><a href="/dashboard">Dashboard</a></li>
				<li class="hide-on-signout"><a href="/records">Records</a></li>
				<li class="hide-on-signout"><a href="/settings">Settings</a></li>
				<li><a id="nav-log-mobile" href="#">Log In</a></li>
			</ul>
		</div>
	</nav>
</header>

<div id="button-google-signin" class="g-signin2 hidden" data-onsuccess="signIn" data-theme="dark"></div>
