<!DOCTYPE html>
<html>
	<%- include("partials/head") %>
	<body>
		<%- include("partials/header") %>
		<main>
			<div class="container center-align">
				<h3>Add record</h3>
				<div class="row">
					<button class="btn col s6 green accent-2 white-text">INCOME</button>
					<button class="btn col s6 green accent-4 white-text">EXPENSE</button>
				</div>
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<!-- <i class="material-icons prefix">restaurant</i> -->
								<select id="transaction_category">
									<option value="" disabled selected>Select a category</option>
									<option value="1">Groceries</option>
									<option value="3">Transportation</option>
									<option value="4">Clothing</option>
									<option value="5">Leisure</option>
									<option value="6">Household Items</option>
									<option value="7">Entertainment</option>
								</select>
								<label>Category</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input value="" id="transaction_description" type="text">
								<label for="transaction_description">Description</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input value="" id="transaction_date" class="" type="date">
								<label for="transaction_date">Date</label>
							</div>
							<div class="input-field col s6">
								<input value="" id="transaction_amount" type="number" min="0.01" step="0.10">
								<label for="transaction_time">Amount</label>
							</div>
						</div>
						<div class="row">
							<div class="file-field input-field col s12">
								<div class="btn green accent-4">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<button type="button" class="btn green accent-4" onclick="sendTrans()">Add</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</main>
	</body>
</html>
