<!DOCTYPE html>
<html>
	<%- include("partials/head") %>
	<body>
		<%- include("partials/header") %>
		<script src="/public/js/edit.js"></script>
		<main>
			<div class="container center-align">
				<h3 id="page-title">Add record</h3>
				<div class="row">
					<button id="transaction_set_income" class="btn col s6 green accent-2 white-text">INCOME</button>
					<button id="transaction_set_expense" class="btn col s6 green accent-4 white-text">EXPENSE</button>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input value="-0.00" id="transaction_amount" type="number" min="0.01" step="0.01">
						<label for="transaction_time">Amount</label>
					</div>
				</div>
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<!-- <i class="material-icons prefix">restaurant</i> -->
								<select id="transaction_category">
									<option value="" disabled selected>Select a category</option>
								</select>
								<label>Category</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input value="" id="transaction_description" type="text">
								<label for="transaction_description">Description</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input type="text" id="transaction_date" class="datepicker">
								<label for="transaction_date">Date</label>
							</div>
							<div class="input-field col s6">
								<input type="text" id="transaction_time" class="timepicker">
								<label for="transaction_time">Time</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<button id="sendTButton" type="button" class="btn green accent-4">Add</button>
								<button id="deleteTButton" type="button" class="hidden btn red accent-4">Delete</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</main>
	</body>
</html>
