<!doctype html>
<head>
	<title>EZWallet</title>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="16592814341-srr33lj6et1lj5ls0dj4v73q495khfko.apps.googleusercontent.com">
</head>
<body style="display:none">
	<h1>EZWallet<span id="greeting"></span></h1>
	
	<p><div id="button-google-signin" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
	<a id="button-signout" href="#" onclick="signOut();">Sign out</a></p>
	
	<p>Below is the response from the server API: </p>
	<label><input type="checkbox" id="user_id">ID</label><br>
	<label><input type="checkbox" id="user_lname">lName</label><br>
	<label><input type="checkbox" checked id="user_fname">fName</label><br>
	<label><input type="checkbox" checked id="user_email">email</label><br>
	<label><input type="checkbox" id="user_budget">budget</label><br>
	<input type="number" id="userid" value="1" placeholder="user id"><br>
	<button onclick="getDetails()">get user details by id</button>
	<button onclick="getOwnDetails()">get own details</button>
	<button onclick="getBudget()">get own budget</button>
	<br><br>
	<input type="text" id="user_input" placeholder="input"><br>
	<button onclick="setBudget()">set own budget</button>
	<pre id="server-response" style="border: 1px dashed black; min-width: 10em; min-height: 1em; padding: .5em;"></pre>
	<script src="public/client.js"></script>
</body>