<!DOCTYPE html>
<html>
  <head>
  	<%- include("partials/head") %>
  </head>
  <body>
          <%- include("partials/header") %>

    <main>
      <div class="container center-align">
      </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.leanModal.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
