<!DOCTYPE html>
<html>
	<%- include("partials/head") %>
	<body>
		<%- include("partials/header") %>
		<main>
			<div class="container center-align">
				<h3>Settings</h3>
			</div>
		</main>
	</body>
</html>